{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Category
{% endblock title %}


{% block content %}
<h1>Всего публикаций в категории {{category}} - {{category_list|length}}</h1>

   {% if category_list %}

       <table>
           <tr>
               <td>   <hr>     </td>
               <td>   <hr>     </td>
               <td>   <hr>     </td>
               <td>   <hr>     </td>
               <td>   <hr>     </td>
               <td>   <hr>     </td>
           </tr>
           <tr valign=top>
               <td>ID</td>
               <td>Заголовок</td>
               <td>&nbsp&nbsp&nbsp Дата публикации &nbsp&nbsp&nbsp </td>
               <td> Категория </td>
               <td> Тип публикации </td>
               <td>Текст публикации</td>

           </tr>

           <tr>
               <td>   <hr>     </td>
               <td>   <hr>     </td>
               <td>   <hr>     </td>
               <td>   <hr>     </td>
               <td>   <hr>     </td>
               <td>   <hr>     </td>
           </tr>



           {% for post in category_list %}
           <tr>
               <td>{{ post.id }}</td>
               <td>{{ post.title }}</td>
               <td>&nbsp&nbsp&nbsp&nbsp{{ post.post_time|date:'d M Y' }}</td>
               <td>
                   {% for category in post.category.all %}
                       <a href="{% url 'category' category.id %}">
                           {{category}}
                       </a>
                   {% endfor %}

               </td>
               <td>{{ post.post_kind }}</td>
               <td>{{ post.text|truncatechars:150 }}</td>

           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Пока ничего интересного не случилось.</h2>
   {% endif %}

    {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
<br>
<br>
   {% if is_not_subscriber %}
       <p class="text-center">
           <button><a href="{% url 'subscribe' category.id %}">Подписаться на категорию</a></button>
       </p>
   {% endif %}
<br>
<br>

<button> <a href="/sign/logout/">Выйти</a> </button>


{% endblock content %}