<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет products -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Всего новостей - {{posts|length}}</h1>
<hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>&nbsp&nbsp&nbsp Дата публикации &nbsp&nbsp&nbsp </td>
               <td>Текст публикации</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title }}</td>
               <td>&nbsp&nbsp&nbsp&nbsp{{ post.post_time|date:'d M Y' }}</td>
               <td>{{ post.text|truncatechars:20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}