{% extends 'flatpages/default.html' %}


{% block content %}
    <h2>{{ flatpage.title }}</h2>
    <h3>
        <i>
            <p>{{ flatpage.content }}</p>
               {{ flatpage.content }}
        </i>
    </h3>
{% endblock content %}



<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>{{ flatpage.title }}</title>-->
<!--</head>-->
<!--<body>-->
<!--<h3>-->
<!--    <i>-->
<!--        <p>{{ flatpage.content }}</p>-->
<!--           {{ flatpage.content }}-->
<!--    </i>-->
<!--</h3>-->
<!--</body>-->
<!--</html>-->